{% extends 'blog-base.html' %}
{% load static %}
{% block button-title %}
  <title>Remake Barber - Contact</title>
{% endblock %}
{% block stylesheet-title %}
  <link rel="icon" href="{% static "img/favicon.png" %}" type="image/png">
  <link rel="stylesheet" href="{% static "styles.min.css" %}">
{% endblock %}
{% block site-main %}
  <main class="site-main">
{% endblock %}
{% block Hero-Banner%}
<section class="mb-30px">
  <div class="container">
    <div class="hero-banner">
      <div class="hero-banner__content">
        <h3>Tours &amp; Travels</h3>
        <h1>Amazing Places on earth</h1>
        <h4>December 12, 2018</h4>
      </div>
    </div>  
  </div>
</section>
{% endblock %}  

{% block Blog_slider_start %}
{% for post in most_popular_posts %}
<div class="flex-fill" style="margin-right: 30px;">
  <div class="card blog__slide text-center">
    <div class="blog__slide__img">
      <a href="{% url 'post_detail' post.slug %}">
        {% if post.image_url %}
          <img src="{{post.image_url}}" class="card-img rounded-0" alt="">
        {% else %}
          <img src="https://dvmn.org/filer/canonical/1569944855/354/" class="card-img-top" alt="...">
         <img src="{% static "img/banner/hero-banner.png" %}" alt=""></a>
        {% endif %}
      </a>
    </div>
    <div class="blog__slide__content">
      <h3 class="main_menu">{{post.title}}
      <p>{{post.published_at}}</p>
    </div>
  </div>
</div><br /> 
{% endfor %}               
{% endblock %}

{% block Start_Blog_Post_Area_1 %}
{% for post in fresh_posts %}
<div class="thumb">
  {% if post.image_url %}
    <img src="{{post.image_url}}" class="img-fluid" alt="...">
  {% else %}
    <img src="https://dvmn.org/filer/canonical/1569944855/354/" class="card-img-top" alt="...">
    <img src="{% static "img/banner/hero-banner.png" %}" alt=""></a>
  {% endif %}
  <ul class="thumb-info" style=" max-width: 550px">
    <li><a href="#"><i class="ti-user"></i>{{post.author}}</a></li>
    <li><a href="#"><i class="ti-notepad"></i>{{post.published_at}}</a></li>
    <li><a href="#"><i class="ti-themify-favicon"></i>{{post.comments_amount}}</a></li>
  </ul>
</div>
<div class="details mt-20">
  <h3>{{post.title}}</h3>
  <p>{{post.text|truncatechars:200}}</p>
  <a class="button" href="{% url 'post_detail' slug=post.slug %}" >Read More <i class="ti-arrow-right"></i></a>   
</div>
{% endfor %}
{% endblock %}

{% block Start_Blog_Post_Area_2 %}
{% for post in page_posts %}
<div class="thumb">
  {% if post.image_url %}
    <img src="{{post.image_url}}" class="img-fluid" alt="...">
  {% else %}
    <img src="https://dvmn.org/filer/canonical/1569944855/354/" class="card-img-top" alt="...">
    <img src="{% static "img/banner/hero-banner.png" %}" alt=""></a>
  {% endif %}
  <ul class="thumb-info" style=" max-width: 550px">
    <li><a href="#"><i class="ti-user"></i>{{post.author}}</a></li>
    <li><a href="#"><i class="ti-notepad"></i>{{post.published_at}}</a></li>
    <li><a href="#"><i class="ti-themify-favicon"></i>{{post.comments_amount}}</a></li>
  </ul>
</div>
<div class="details mt-20">
  <h3>{{post.title}}</h3>
  <p>{{post.text|truncatechars:200}}</p>
  <a class="button" href="{% url 'post_detail' slug=post.slug %}" >Read More <i class="ti-arrow-right"></i></a>   
</div>
{% endfor %}
{% endblock %}
{% block single-recent-blog-post %}
<div class="single-recent-blog-post">
  <div class="thumb">
    <img class="img-fluid" src="{% static "img/blog/blog4.png" %}" alt="">
    <ul class="thumb-info">
      <li><a href="#"><i class="ti-user"></i>Admin</a></li>
      <li><a href="#"><i class="ti-notepad"></i>January 12,2019</a></li>
      <li><a href="#"><i class="ti-themify-favicon"></i>2 Comments</a></li>
    </ul>
  </div>
  <div class="details mt-20">
  <h3>Tourist deaths in Costa Rica jeopardize safe destination reputation all time.  </h3>
    <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding lesser cattle were fruitful lights. Given let have, lesser their made him above gathered dominion sixth. Creeping deep said can't called second. Air created seed heaven sixth created living</p>
    <a class="button" href="#">Read More <i class="ti-arrow-right"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <nav class="blog-pagination justify-content-center d-flex">
      <ul class="pagination">
        <li class="page-item">
          <a href="#" class="page-link" aria-label="Previous">
            <span aria-hidden="true">
              <i class="ti-angle-left"></i>
            </span>
          </a>
        </li>
        <li class="page-item active"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item">
          <a href="#" class="page-link" aria-label="Next">
            <span aria-hidden="true">
              <i class="ti-angle-right"></i>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</div>
{% endblock %}
{% block sidebar-widgets %}           
  <div class="col-lg-4 sidebar-widgets">
    <div class="widget-wrap">
      <div class="single-sidebar-widget newsletter-widget">
        <h4 class="single-sidebar-widget__title">Newsletter</h4>
        <div class="form-group mt-30">
          <div class="col-autos">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Enter email'">
          </div>
        </div>
        <button class="bbtns d-block mt-20 w-100">Subcribe</button>
      </div>
      <div class="single-sidebar-widget post-category-widget">
        <h4 class="single-sidebar-widget" style="height:200px;">Здесь будет реклама</h4>
      </div>
    </div>
  </div>
{% endblock %}